# Environments & Cache
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# Storage & Uploads
backend/uploads/*
!backend/uploads/.gitkeep
backend/chroma_db/
*.db
*.sqlite3

# Node / Frontend
node_modules/
dist/
.vite/

# OS files
.DS_Store
Thumbs.db